@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
.LinkTransactions{
    display: none;
    opacity: 0;
}
.LinkUser:hover.LinkTransactions{
    opacity: 1 !important;
    display: flex !important;
} */